.about {
    font-size: 1rem;

    color: $primary-neutral--alt;

    h3 {
        margin-bottom: 50px;
    }


    &__grid {
        display: grid;
        grid-template-columns: 615px 1fr;
        grid-template-rows: repeat(2, auto);
        width: 910px;
        max-width: 95%;
        margin: 0 auto;
    }
    
    &__img {
        float: right;
        height: 350px;
        width: 350px;
        margin-left: 20px;
        border-radius: 50%;

        background-image: url(../assets/images/headshot.webp);
        background-repeat: no-repeat;
        background-size: cover;

        &--mobile {
            display: none;
        }
    }

    &__bio {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;

        line-height: 150%;
        letter-spacing: -.01em;

        p {
            margin-bottom: 20px;
        }

        a, .highlight {
            font-weight: 600;
        }

        a {
            text-decoration: underline;
        }

        a:hover {
            color: $text-accent;
        }
    }

    &__info-container {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;

        display: flex;
        justify-content: space-between;
        width: 85%;
        min-width: 850px;
        margin: 20px 0 50px 0;

    }

    &__info {
        width: 100%;
        margin-top: 50px;

        h4 {
            margin-bottom: 10px;
        }

        h4, p {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 1000px) {
    .about {
        &__grid {
            grid-template-columns: auto 1fr;
        }

        &__titles {
            max-width: 500px;

            h4 {
                margin-bottom: 20px;;
            }  

            h4, h5 {
                line-height: 125%;
            }
        }

        &__bio {
            grid-column: 1 / span 2;
            gap: 30px;
        }

        &__img {
            grid-row: 1 / span 1;
            height: 300px;
            width: 300px;
        }

        &__info-container {
            min-width: unset;
            width: 100%;
        }

        &__info {
            width: auto;
        }
    }
}

@media (max-width: 700px) {
    .about {

        &__img {
            float: none;
            height: 350px;
            width: 350px;
            margin: 0 auto;
            margin-top: 40px;

            &--desktop {
                display: none;
            }
    
            &--mobile {
                display: block;
            }
        }
    }
}

@media (max-width: 600px) {
    .about {

        &__info {
            h4, p {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .about {

        &__grid {
            grid-template-rows: repeat(4, auto);
            width: 90%;
        }
        
        &__bio {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
        }

        &__info-container {
            grid-column: 1 / span 1;
            grid-row: 5 / span 1;

            flex-direction: column;
            margin-bottom: 60px;
        }

        &__info {
            h4, p {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 450px) {
    .about {
        &__grid {
            width: 90%;
        }

        &__img {
            height: 75vw;
            width: 75vw;
        }

        &__bio {
            font-size: .9rem;
        }
        
        &__info {
            margin-top: 30px;

            .line-break {
                display: block;
            }
        }
    }
}