.contact {

    .wrapper {
        width: 60%;
        max-width: 675px;
    }

    h3 {
        margin: 0 0 85px 0;
    }

    p {
        text-align: center;
        margin: 0 0 85px 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        input,
        textarea {
            margin-bottom: 40px;
        }

        textarea {
            resize: vertical;
        }
    }
}

@media (max-width: 950px) {
    .contact {
        .wrapper {
            width: 80%;
        }
    }
}

@media (max-width: 600px) {
    .contact {
        padding-bottom:100px;

        .wrapper {
            width: 85%;
        }

        input,
        button[type="submit"] {
            height: 50px;
        }

        p {
            font-size: .9rem;
        }
    }
}