.footer {
    font-size: 1.7rem;
    color: $secondary-neutral;
    background-color: $footer;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
    }
}