.header {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .wrapper {
        position: relative;
        height: 100%;
    }

    &__main-content {
        height: 60vh;
        min-height: 300px;
        padding: 50px 0 0 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 375px;
        height: 30px;

        a {
            position: relative;
            height: 25px;

            transition: .5s;
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                left: -10%;
                top: -25%;
                z-index: -1;

                height: 40px;
                width: 120%;
                
                background-color: $secondary-neutral;

                opacity: 0;
                transition: .5s;
            }

            &:hover,
            &:focus {
                outline: none;
                color: $primary-neutral;
            }

            &:hover::after,
            &:focus::after {
                opacity: 1;
            }
        }
    }

    &__image {
        height: 100%;

        background-image: url('../assets/images/header-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        .wrapper {
            position: relative;

            height: 100%;

        }
    }


    &__theme-slider {
        position: absolute;
        bottom: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 46px;

        input {
            position: relative;
            z-index: 1;

            width: 100%; 
            height: 100%;
            margin: 0;
            padding: 0 5px;
            border-radius: 25px;
            
            background: transparent; 
            
            outline: none; 
            
            appearance: none;
            -webkit-appearance: none;
            cursor: pointer;
            transition: .3s;

            &:hover::-moz-range-thumb,
            &:hover::-webkit-slider-thumb,
            &:focus-visible::-moz-range-thumb,
            &:focus-visible::-webkit-slider-thumb {
                background-color: $accent;
            }

            &::-moz-range-thumb {
                @extend %range-thumb;
            }

            &::-webkit-slider-thumb {
                // @extend not working here for some reason
                width: 32px;
                height: 32px;
                border: none;
                border-radius: 50%;
                background: $secondary-neutral; 
                
                -webkit-appearance: none;
                transition: .3s;
            }
        }
    }

    &__slider-container {
        height: 100%;
    }

    &__theme-icons {
        position: absolute;
        top: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 105%;
        height: 100%;
        border-radius: 25px;

        font-size: 1.4rem;

        border: 3px solid $secondary-neutral;
        border-spacing: 2px;

        z-index: 0;
    }

    &__icon-container {
        display: flex;
        align-items: center;
        
    }
}