.header {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__main-content {
        min-height: 300px;
        padding: 50px 0 0 0;

        .wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 375px;
        height: 30px;

        a {
            position: relative;
            height: 25px;

            transition: .3s;
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                left: -10%;
                top: -25%;

                height: 40px;
                width: 120%;
                
                background-color: white;

                opacity: 0;
                transition: .3s;
                z-index: -1;
            }

            &:hover,
            &:focus {
                outline: none;
                color: black;
            }

            &:hover::after,
            &:focus::after {
                opacity: 1;
            }
        }
    }

    &__image {
        height: 100%;

        background-image: url('../assets/images/header-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        .wrapper {
            position: relative;
            
            height: 100%;
        }
    }

    &__theme-slider {
        position: absolute;
        bottom: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 43px;

        input {
            position: relative;
            appearance: none;
            width: 100%; 
            height: 100%;
            margin: 0;
            padding: 0 5px;
            border-radius: 25px;

            background: transparent; 

            outline: none; 
            z-index: 1;

            transition: .3s;
            
            &:focus-visible {
                outline: 4px solid white;
            }

            &::-moz-range-thumb {
                width: 32px;
                height: 32px;
                border: none;
                border-radius: 50%;
                background: white; 
                cursor: pointer; 

            }
        }
    }

    &__slider-container {
        height: 100%;
    }

    &__theme-icons {
        position: absolute;
        top: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 25px;

        font-size: 1.4rem;

        background-color: black;

        z-index: 0;

        
    }

    &__icon-container {
        position: relative;
        min-height: 50px;
        min-width: 48px;
        transform: scale(.65);
        
        &--light {
            left: 9px;
            background-image: url('../assets/images/icons/sun.svg');
        }

        &--main {
            background-image: url('../assets/images/icons/sun-moon.svg');
        }

        &--dark {
            right: 8px;
            background-image: url('../assets/images/icons/moon-cloud.svg');
        }
    }
}