.header {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 40px 40px 0 40px;
    }

    &__main-content {
        height: 60vh;
        min-height: 350px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 350px;
        height: 30px;

        a {
            position: relative;
            height: 25px;

            transition: .5s;
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                left: -10%;
                top: -25%;
                z-index: -1;

                height: 40px;
                width: 120%;
                
                background-color: $secondary-neutral;

                opacity: 0;
                transition: .5s;
            }

            &:hover,
            &:focus {
                outline: none;
                color: $primary-neutral;
            }

            &:hover::after,
            &:focus::after {
                opacity: 1;
            }
        }
    }

    &__image {
        height: 100%;

        background-image: url('../assets/images/header-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        .wrapper {
            position: relative;

            height: 100%;

        }
    }


    &__theme-slider {
        position: absolute;
        bottom: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        // width: 120px;
        // height: 46px;
        height: 40px;
        width: 100px;

        input {
            position: relative;
            z-index: 1;

            width: 100%; 
            height: 100%;
            margin: 0;
            padding: 0 5px;
            border-radius: 25px;
            
            background: transparent; 
            
            outline: none; 
            
            appearance: none;
            -webkit-appearance: none;
            cursor: pointer;
            transition: .3s;

            &:hover::-moz-range-thumb,
            &:hover::-webkit-slider-thumb,
            &:focus-visible::-moz-range-thumb,
            &:focus-visible::-webkit-slider-thumb {
                background-color: $accent;
            }

            &::-moz-range-thumb {
                @extend %range-thumb;
            }

            &::-webkit-slider-thumb {
                // @extend not working here for some reason
                // width: 32px;
                // height: 32px;
                width: 28px;
                height: 28px;
                border: none;
                border-radius: 50%;
                background: $secondary-neutral; 
                
                -webkit-appearance: none;
                transition: .3s;
            }
        }
    }

    &__slider-container {
        height: 100%;
    }

    &__theme-icons {
        position: absolute;
        top: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;
        // width: 105%;
        width: 103%;
        height: 100%;
        padding: 0 2px;
        border-radius: 25px;

        // font-size: 1.4rem;

        //border: 3px solid $secondary-neutral;
        border: 2.5px solid $secondary-neutral;
        border-spacing: 2px;

        z-index: 0;
    }

    &__icon-container {
        display: flex;
        align-items: center;
        
    }
}


@media (max-width: 1020px) {
    .header {
        &__nav {
            display: none;
        }
    }
}

@media (max-width: 830px) {
    .header {
        .wrapper {
            padding: 30px 30px 0 30px;
        }
    }
}

@media (max-width: 600px) {

    .header {
        &__main-content {
            height: 80vh;
            min-height: 250px;
        }

        // &__theme-slider {
        //     height: 40px;
        //     width: 100px;

        //     input {
        //         &::-moz-range-thumb {
        //             width: 28px;
        //             height: 28px;
        //         }

        //         &::-webkit-slider-thumb {
        //             width: 28px;
        //             height: 28px;
        //         }
        //     }
        // }

        // &__theme-icons {
        //     width: 103%;
        //     padding: 0 2px;
        //     .material-icons {
        //         font-size: 1.2rem;
        //     }
        // }
    }
}
