.header__mobile-nav {
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: 5;

    min-height: 100vh;
    width: 100vw;
    overflow: visible;

    background-color: $primary-neutral;

    font-size: 2rem;
    font-family: $display-font;
    text-transform: lowercase;
    font-weight: 400;

    opacity: 0;
    transition: 1s;

    &-links {
        position: relative;
        bottom: 6vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 100vh;
        margin: 0 auto;
        
        transition: .5s;
        
        & a {
            color: $secondary-neutral;
            padding: 5px 10px;

            transition: .5s;

            &:focus-visible {
                outline: none;
                background-color: $secondary-neutral;
                color: $primary-neutral;
            }
        }

    }
}

.header__mobile-nav.open {
    left: 0 !important;

    opacity: 1;
}

@media (min-width: 1020px) {
    .header__mobile-nav {
        display: none;
    }
}