.projects {

    color: $primary-neutral--alt;

    h3 {
        margin-bottom: 120px;
    }

    &__project {
        display: flex;
        justify-content: space-between;
        width: 83.334%;
        max-width: 1140px;
        margin: 0 auto;
        margin-bottom: 80px;

        p {
            line-height: 120%;
        }

        // Setting individual widths for each project's built with text
        &--1 .projects__built-with {
            width: 360px;
        }
    
        &--2 .projects__built-with {
            width: 360px;
        }
    
        &--3 .projects__built-with {
            width: 360px;
        }
    
        &--4 .projects__built-with {
            width: 360px;
        }
    }

    &__img-container {
        flex-basis: 448px;
        height: 334px;
    }
    
    &__text-container {
        flex-basis: 642px;
        margin-left: 50px;
    }

    &__built-with {
            position: relative;
            left: -12px;

            margin-bottom: 28px;
            padding: 8px 12px;

            color: $secondary-neutral--alt;
            background-color: $primary-neutral--alt;
    }

    &__btn-container {
        display: flex;
        justify-content: space-between;
        width: 475px;
        margin: 25px 0 0 0;
    }

    .symbol {
        font-size: 7.5rem;

        color: $primary-neutral--alt;
    }
}

@media (max-width: 1290px) {
    .projects {
        &__project {
            justify-content: center;
            width: 90%;
            margin-bottom: 120px;
        }

        &__text-container {
            flex-basis: 420px;
        }

        &__btn-container {
            justify-content: start;
            gap: 20px;
            width: auto;

            .button {
                width: 150px;
            }
        }
    }
}

@media (max-width: 900px) {
    .projects {

        h5 {
            margin-bottom: 5px;
        }

        &__project {
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            width: 95%;
            margin-bottom: 100px;
        }

        &__img-container {
            flex-basis: unset;
            width: 100%;
            margin-bottom: 15px;
            height: auto;

            img {
                width: 100%;
                
            }
        }

        &__text-container {
            flex-basis: unset;
            margin: 0;
        }

        &__built-with {
            position: static;
            
            margin-bottom: 15px;

            line-height: 150% !important;
        }

        &__btn-container {
            margin-top: 30px;
            .button {
                width: 40%;
            }
        }
    }
}

@media (max-width: 425px) {
    .projects {
        h3 {
            margin-bottom: 80px;
        }

        &__project {

            margin-bottom: 60px;

            &--1 .projects__built-with,
            &--2 .projects__built-with,
            &--3 .projects__built-with,
            &--4 .projects__built-with {
                width: 100%;
            }
        }

        &__text-container {
            margin-bottom: 25px;

            p {
                font-size: .9rem;
            }
        }

        &__built-with {
            margin-bottom: 20px;

            font-size: .9rem;
        }

        &__btn-container {

            .button {
                width: 50%;
            }
        }
    }
}
