.projects {
    color: $primary-neutral--alt;

    .wrapper {
        width: 100%;
    }
    
    h3 {
        margin-bottom: 20px;
    }

    h5 {
        font-size: 1rem;
    }

    &__carousel-container {
        position: relative;

        width: 100%;
        height: 80vh;
        margin-bottom: 40px;
    }

    &__carousel-btn {
        display: none;
    }

    &__project {
        position: relative;

        width: 85vw !important;
        border-radius: 15px;
        overflow: hidden;
    }

    &__img-container {
        border-radius: inherit;
        & img {
            border-radius: inherit;
        }
    }

    &__text-bg {
        position: absolute;
        top: 0;
        left: 0;
        //z-index: -1;

        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin-right: 20px;
        border-radius: 15px;

        // background: rgba( 255, 255, 255, 0.2 );
        
        // backdrop-filter: blur( 2px );
        // -webkit-backdrop-filter: blur( 2px );

        font-size: .75rem;
        
        transition: 2s;
        overflow: hidden;
    }

    &__text-container {
        position: relative;
        //top: 215px;
        height: 320px;
        width: 110%;
        min-width: 105%;
        //margin: 10px;
        margin-right: 0px;
        padding: 25px 20px 0px 20px;
        //border: 6px solid $accent;
        border-radius: 30px 30px 0 0;

        background-color: black;
        color: white;

        line-height: 115%;
        
        transition: .1s;
    }

    &__project-header {
        position: absolute;
        left:0;
        top: 10px;

        display: flex;
        justify-content: center;
        width: 100%;
        height: 30px;
        margin-right: 20px;
        border-radius: 15px 15px 0 0;
        
        background-color: transparent;

        transition: .5s;
        cursor: grab;

        & span {
            width: 40px;
            height: 5px;
            border-radius: 5px;

            color: inherit;
            background-color: white;
            opacity: .4;
        }
    }

    &__tech {
        margin-bottom: 10px;
    }

    &__btn-container {
        position: absolute;
        bottom: 25px;
    }

    .tns-nav {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;

        & button {
            height: 15px;
            width: 15px;
            background-color: $secondary-neutral--alt;
            border: 2px solid $primary-neutral--alt;
            border-radius: 50%;
        }

        &-active {
            background-color: $accent !important;
        }
    }

}








// .projects {
//     color: $primary-neutral--alt;

//     h3 {
//         margin-bottom: 80px;
//     }

//     &__carousel-container {
//         position: relative;

//         width: 90%;
//         margin: 0 auto;
//         border-radius: 20px;
//     }


//     &__carousel-btn {
//         position: absolute;
//         z-index: 2;

//         top: 0;
//         width: 15%;
//         height: 100%;

//         background: linear-gradient(90deg, rgba(#EEE7FD,1) 0%, rgba(#EEE7FD,0) 100%);
        
//         &--left {
//             left: 0;
//         }
        
//         &--right {
//             right: 0;
//             transform: rotate(180deg);
//         }
//     }

//     & .tns-nav {
//         display: flex;
//         justify-content: center;
//         gap: 10px;

//         & button {
//             height: 20px;
//             width: 20px;
//             background-color: $secondary-neutral;
//             border: 2px solid $primary-neutral;
//             border-radius: 50%;
//         }
        
//         &-active {
//             background-color: $accent !important;
//         }
//     }

//     &__img-container,
//     &__text-container {
//         box-shadow: 1px 3px 6px rgba(black, .6);
//     }

//     &__img-container {
//         border-radius: 20px 20px 0 0;
//         margin-top: 20px;

//         & img {
//             width: 100%;
//             border-radius: 15px 15px 0 0;
//         }
//     }
    
//     &__text-container {
//         padding:  10px 20px 30px 20px;
//         margin-bottom: 20px;
//         border-radius: 0 0 15px 15px;
        
//         background-color: white;
//     }

//     &__built-with {
//             margin-bottom: 28px;
//     }

//     &__description {
//         height: 150px;
//         font-size: .9rem;
//         a {
//             color: $link;
//             font-weight: 500;
//         }
//     }

//     &__btn-container {
    
//         & a:first-of-type {
//             margin-right: 10px;
//         }
//     }

//     .symbol {
//         font-size: 7.5rem;

//         color: $primary-neutral--alt;
//     }
// }

// @media (max-width: 700px) {
//     .projects {
//         width: 100vw;

//         &__carousel-container {
            
//             width: 100vw;
//         }

//         &__carousel-btn {
//             display: none;
//         }
//     }
// }

// @media (max-width: 1290px) {
//     .projects {
//         &__project {
//             justify-content: center;
//             width: 90%;
//             margin-bottom: 120px;
//         }

//         &__text-container {
//             flex-basis: 420px;
//         }

//         &__btn-container {
//             justify-content: start;
//             gap: 20px;
//             width: auto;

//             .button {
//                 width: 150px;
//             }
//         }
//     }
// }

// @media (max-width: 900px) {
//     .projects {

//         h5 {
//             margin-bottom: 5px;
//         }

//         &__project {
//             flex-direction: column;
//             align-items: center;
//             max-width: 500px;
//             width: 95%;
//             margin-bottom: 100px;
//         }

//         &__img-container {
//             flex-basis: unset;
//             width: 100%;
//             margin-bottom: 15px;
//             height: auto;

//             img {
//                 width: 100%;
                
//             }
//         }

//         &__text-container {
//             flex-basis: unset;
//             margin: 0;
//         }

//         &__built-with {
//             position: static;
            
//             margin-bottom: 15px;

//             line-height: 150% !important;
//         }

//         &__btn-container {
//             margin-top: 30px;
//             .button {
//                 width: 40%;
//             }
//         }
//     }
// }

// @media (max-width: 425px) {
//     .projects {
//         h3 {
//             margin-bottom: 80px;
//         }

//         h5 {
//             font-size: 1.3rem;
//         }

//         &__project {

//             margin-bottom: 60px;

//             & .projects__built-with {
//                 width: 100% !important;
//             }
//         }

//         &__text-container {
//             margin-bottom: 25px;

//             p {
//                 font-size: .9rem;
//             }
//         }

//         &__built-with {
//             margin-bottom: 20px;
//         }

//         &__btn-container {

//             .button {
//                 width: 50%;
//             }
//         }
//     }
// }

