.theme--main {
    .projects {
        background-color: #201F28;
        color: white;

        .tns-nav button {
            background-color: black;
            border: 2px solid white;
        }
    }

}

.projects {
    color: $primary-neutral--alt;

    .wrapper {
        width: 100%;
    }
    
    h3 {
        margin-bottom: 20px;
    }

    h5 {
        font-size: 1rem;
    }

    &__carousel-container {
        position: relative;

        width: 100%;
        margin-bottom: 40px;
    }

    &__carousel-btn {
        display: none;
    }

    &__project {
        position: relative;

        width: 85vw !important;
        max-width: 405px;
        border-radius: 15px;
        overflow: hidden;
    }

    &__img-container {
        border-radius: inherit;

        & img {
            border-radius: inherit;
        }

        & .hide {
            display: none;
        }
    }

    &__details-btn {
        position: absolute;
        top: -30px;
        left: calc(50% - 48px);
        z-index: 3;

        display: none;
        width: 100px;
        height: 30px;
        margin: 0 auto;
        border-radius: 20px 20px 0 0;

        background-color: black;
        color: white;

        font-size: .9rem;

        transition: .5s;

        span {
            transition: .5s;
        }

        &--close {
            display: none;
        }

        &.slide {
            top: 0;
            border-radius: 0 0 20px 20px;
            border-bottom: unset;
            border-top: none;

            & .projects__details-btn--open {
                display: none;
            }

            & .projects__details-btn--close {
                display: block;
            }
        }

        &:focus-visible {
            outline: 5px solid $accent;
        }
    }

    &__text-bg {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin-right: 20px;
        border-radius: 15px;

        font-size: .75rem;
        
        transition: background 1s, backdrop-filter 1s, -webkit-backdrop-filter 1s, opacity 1s, top 1s;
        overflow: hidden;
    }

    &__text-container {
        position: relative;

        height: 380px;
        width: 100%;
        min-width: 105%;
        margin-right: 0px;
        padding: 25px 20px 0px 20px;
        border-radius: 30px 30px 0 0;

        background-color: black;
        color: white;

        line-height: 115%;
        
        transition: .1s;
        -webkit-user-select: none;       
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }

    &__project-header {
        position: absolute;
        left:0;
        top: 0;

        display: flex;
        justify-content: center;
        width: 100%;
        height: 55px;
        border-radius: 15px 15px 0 0;
        
        background-color: transparent;

        transition: .5s;
        cursor: grab;

        & span {
            width: 40px;
            height: 5px;
            margin-top: 10px;
            border-radius: 5px;

            color: inherit;
            background-color: white;
            opacity: .4;
        }
    }

    &__tech {
        margin-bottom: 20px;
    }

    &__description {
        & a {
            color: $accent;
            font-weight: 500;
        }
    }

    &__btn-container {
        position: absolute;
        bottom: 85px;
    }

    .tns-nav {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;

        & button {
            height: 15px;
            width: 15px;
            background-color: $secondary-neutral--alt;
            border: 2px solid $primary-neutral--alt;
            border-radius: 50%;
        }

        &-active {
            background-color: $accent !important;
        }
    }

    .symbol {
        margin-top: 10px;
    }

}

// Carousel fallback
.no-js .projects__carousel { overflow-x: auto; }
.no-js .projects__carousel > div { float: none; }


@media (min-width: 340px) {
    .projects {
        h5 {
            font-size: 1.1rem;
        }

        &__text-bg {
            font-size: .8rem;
        }
    }
}

@media (min-width: 400px) {
    .projects {
        h5 {
            font-size: 1.2rem;
        }

        &__text-bg {
            font-size: .9rem;
        }

        &__text-container {
            padding: 25px 25px 0px 25px;
        }
    }
}

@media (min-width: 700px) {
    .projects {
        h3 {
            margin-bottom: 80px;
        }

        &__carousel-btn {
            position: absolute;
            top: 0;
            z-index: 1;

            display: block;
            width: 15%;
            height: 97%;

            background: transparent;
    
            &--left {
                left: 0;
                transform: rotate(180deg);
                border-radius: 0px 20px 20px 0px;
            }
    
            &--right {
                right: 0;
                border-radius: 0px 20px 20px 0px;
            }
        }

        &__project {
            max-width: 860px !important;
        }

        &__project-header {
            display: none;
        }

        &__details-btn {
            display: block;
        }
    
        &__text-bg {
            max-width: 860px;
            width: calc(100% - 20px);

            background: rgba(0, 0, 0, 0.81);
            backdrop-filter: blur(25px);
            -webkit-backdrop-filter: blur( 2px );

            overflow: visible;

            &.hide {
                top: 100%;
                
                animation: fadeOut 1s linear;
            }
        }

        &__text-container {
            position: static;

            width: 400px;
            height: 100%;
            padding: 20px 40% 0 7.5%;

            background: transparent;   
        }

        &__tech {
            margin-bottom: 30px;
        }

        &__btn-container {
            bottom: 20px;
        }

    }
}

@media (min-width: 1100px) {
    .projects {
        .wrapper {
            width: 95%;
        }

        h5 {
            font-size: 1.6rem;
        }

        &__text-bg {
            font-size: 1rem;
        }

        &__text-container {
            padding: 20px 50% 0 7.5%;
        }

        &__carousel-btn {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        }
    }
}

@media (min-width: 1450px) {
    .projects {
        &__carousel-btn {
            width: 22.5%;
        }
    }
}


@keyframes fadeOut {
    from {z-index: 1; opacity: 1;}
    to {z-index: 1; opacity: 0;}
}


