.skills {

    h3 {
        margin: 0 0 140px 0;
    }

    &__skill-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 80px;
        column-gap: 100px;
        justify-content: space-between;
        width: 847px;

        margin: 0 auto;

        font-size: 1.2rem;
        text-transform: uppercase;
        
        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 135px;
            height: 160px;
        }

        i{
            font-size: 5.4rem;
        }
    }
}