.projects {

    color: $primary-neutral--alt;

    h3 {
        margin-bottom: 120px;
    }

    &__project {
        display: flex;
        justify-content: space-between;
        width: 83.334%;
        max-width: 1140px;
        margin: 0 auto;
        margin-bottom: 80px;

        p {
            line-height: 120%;
        }

        // Setting individual widths for each project's built with text
        &--1 .projects__built-with {
            width: 360px;
        }
    
        &--2 .projects__built-with {
            width: 360px;
        }
    
        &--3 .projects__built-with {
            width: 360px;
        }
    
        &--4 .projects__built-with {
            width: 360px;
        }
    }

    &__img-container {
        flex-basis: 448px;
        height: 334px;
    }
    
    &__text-container {
        flex-basis: 642px;
        margin-left: 50px;
    }

    &__built-with {
            position: relative;
            left: -12px;

            margin-bottom: 28px;
            padding: 8px 12px;

            color: $secondary-neutral--alt;
            background-color: $primary-neutral--alt;
    }

    &__btn-container {
        display: flex;
        justify-content: space-between;
        width: 475px;
        margin: 25px 0 0 0;
    }

    .symbol {
        padding-top: 50px;

        font-size: 7.5rem;

        color: $primary-neutral--alt;
    }
}

@media (max-width: 1290px) {
    .projects {
        &__project {
            justify-content: center;
            width: 90%;
            margin-bottom: 120px;
        }

        &__text-container {
            flex-basis: 420px;
        }

        &__btn-container {
            justify-content: start;
            gap: 20px;
            width: auto;

            .button {
                width: 150px;
            }
        }
    }
}