.projects {

    color: $primary-neutral--alt;

    h3 {
        margin-bottom: 120px;
    }

    &__carousel-container {
        position: relative;
        width: 80%;
        height: 800px;
        margin: 0 auto;
        border-radius: 20px;
    }

    &__carousel {
        display: flex;
        gap: 5vw;
        width: 100%;
    
        overflow-x: hidden;
    }

    &__carousel-btn {
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;

        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        
        &--left {
            left: 0;
            transform: rotate(180deg);
            border-radius: 0px 20px 20px 0px;
        }
        
        &--right {
            right: 0;
            border-radius: 0px 20px 20px 0px;
        }
    }

    &__project {
        width: 80%;
        max-width: 1140px;
        height: 600px;
        margin: 0 auto;
        border-radius: 20px;

        background-color: $secondary-neutral--alt;

        p {
            line-height: 120%;
        }
    }

    &__img-container {
        width: 40vw;
        height: calc(40vw / 1.3413);

        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px 20px 0 0;
    }
    
    // &__text-container {
        
    // }

    &__built-with {
            position: relative;
            left: -12px;

            margin-bottom: 28px;
            padding: 8px 12px;

            color: $secondary-neutral--alt;
            background-color: $primary-neutral--alt;
    }

    &__description {
        a {
            color: $link;
            font-weight: 500;
        }
    }

    &__btn-container {
        display: flex;
        justify-content: space-between;
        width: 475px;
        margin: 25px 0 0 0;
    }

    .symbol {
        font-size: 7.5rem;

        color: $primary-neutral--alt;
    }
}

@media (max-width: 1290px) {
    .projects {
        &__project {
            justify-content: center;
            width: 90%;
            margin-bottom: 120px;
        }

        &__text-container {
            flex-basis: 420px;
        }

        &__btn-container {
            justify-content: start;
            gap: 20px;
            width: auto;

            .button {
                width: 150px;
            }
        }
    }
}

@media (max-width: 900px) {
    .projects {

        h5 {
            margin-bottom: 5px;
        }

        &__project {
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            width: 95%;
            margin-bottom: 100px;
        }

        &__img-container {
            flex-basis: unset;
            width: 100%;
            margin-bottom: 15px;
            height: auto;

            img {
                width: 100%;
                
            }
        }

        &__text-container {
            flex-basis: unset;
            margin: 0;
        }

        &__built-with {
            position: static;
            
            margin-bottom: 15px;

            line-height: 150% !important;
        }

        &__btn-container {
            margin-top: 30px;
            .button {
                width: 40%;
            }
        }
    }
}

@media (max-width: 425px) {
    .projects {
        h3 {
            margin-bottom: 80px;
        }

        h5 {
            font-size: 1.3rem;
        }

        &__project {

            margin-bottom: 60px;

            & .projects__built-with {
                width: 100% !important;
            }
        }

        &__text-container {
            margin-bottom: 25px;

            p {
                font-size: .9rem;
            }
        }

        &__built-with {
            margin-bottom: 20px;
        }

        &__btn-container {

            .button {
                width: 50%;
            }
        }
    }
}


// /* image 4 */

// position: absolute;
// left: 75.97%;
// right: 11.11%;
// top: 62.15%;
// bottom: 26.79%;

// background: url(image.png);
// filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25));
// border-radius: 20px;


// /* image 5 */

// position: absolute;
// left: 29.58%;
// right: 29.65%;
// top: 62.15%;
// bottom: 26.79%;

// background: url(image.png);
// filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
// border-radius: 20px;


// /* image 6 */

// position: absolute;
// left: 11.11%;
// right: 76.11%;
// top: 62.15%;
// bottom: 26.79%;

// background: url(image.png);
// filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25));
// border-radius: 20px;


// /* Rectangle 33 */

// position: absolute;
// width: 117px;
// height: 709px;
// left: 1163px;
// top: 3986px;

// background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
// border-radius: 0px 20px 20px 0px;


// /* Rectangle 34 */

// position: absolute;
// width: 117px;
// height: 709px;
// left: 277px;
// top: 4695px;

// background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
// border-radius: 0px 20px 20px 0px;
// transform: rotate(-180deg);
