.skills {

    h3 {
        margin: 0 0 140px 0;
    }

    &__skill-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 80px;
        column-gap: 100px;
        justify-content: space-between;
        width: 847px;
        margin: 0 auto;

        font-size: 1.2rem;
        text-transform: uppercase;
        
        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 135px;
            height: 160px;
        }

        i{
            font-size: 5.4rem;
        }

        svg path {
            fill: $secondary-neutral;
        }
    }
}

@media (max-width: 1290px) {
    .skills {
        &__skill-container {
            max-width: 670px;
            width: 85%;
            row-gap: 60px;
            column-gap: unset;
        }
    }
}