.wrapper {
    max-width: 1820px;
    width: 95%;
    margin: 0 auto;
}

.skip-link {
    position: absolute;
    top: -50px;
    z-index: 999;

    width: 100%;

    text-align: center;

    background: white;
    color: #000;

    transition: .3s;

    &:focus {
        outline: none;
        top: 0;
    }
}

.side-nav {
    position: fixed;
    right: 2.5%;
    bottom: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 10px 8px;

    font-size: 1.6rem;
    
    background-color: black;
    color: white;

    a:focus {
        outline: none;
        color: #c48dff;
    }
}

.header,
.footer,
.section {
    width: 100vw;
}

.section {
    padding: 140px 0 150px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 60px;

    background-color: black;
    color: white;

    transition: background-color .3s linear, color .3s linear;

    &:hover,
    &:focus {
        outline: none;
        border: 4px solid black;
        background-color: transparent;
        color: black;
    }
}

form {
    input,
    textarea,
    button[type="submit"] {
        border: none;
        border-radius: 0;
    }

    input,
    button[type="submit"] {
        height: 60px;
    }

    input,
    textarea {
        padding: 0 15px;
        font-weight: 600;

        &:focus {
            outline: 4px solid #c48dff;
        }
    }

    textarea {
        padding: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    button[type="submit"] {
        border: 4px solid white;
        background-color: transparent;
        color: white;

        transition: background-color .3s;

        &:hover,
        &:focus-visible {
            outline: none;
            background-color: white;
            color: black;
        }
    }
}