html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $bg;
}

.wrapper {
    max-width: 1820px;
    width: 95%;
    margin: 0 auto;
}

.skip-link {
    position: absolute;
    top: -50px;
    z-index: 999;

    width: 100%;

    text-align: center;

    background: $secondary-neutral;
    color: $primary-neutral;

    transition: .3s;

    &:focus {
        outline: none;
        top: 0;
    }
}

.material-icons {
    font-size: 1.2rem;
    color: $secondary-neutral;
}


.header,
.footer,
.section {
    width: 100vw;
}

.section {
    padding: 80px 0 150px 0;
}

.header__main-content,
.skills,
.contact {
    background-color: $primary-neutral;
    color: $secondary-neutral;
}

.text-accent {
    color: $text-accent;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 60px;

    background-color: $primary-neutral--alt;
    color: $secondary-neutral--alt;

    transition: background-color .3s linear, color .3s linear;

    &:hover,
    &:focus {
        outline: none;
        border: 4px solid $primary-neutral--alt;
        background-color: transparent;
        color: $primary-neutral--alt;
    }
}

button {
    border: none;
    cursor: pointer;
}

form {
    input,
    textarea,
    button[type="submit"] {
        border: 4px solid $secondary-neutral;
        border-radius: 0;
    }

    input,
    button[type="submit"] {
        height: 60px;
    }

    input,
    textarea {
        padding: 0 15px;
        font-weight: 600;

        &:focus {
            outline: 4px solid $accent;
        }
    }

    textarea {
        padding: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    button[type="submit"] {
        background-color: transparent;
        color: $secondary-neutral;

        transition: background-color .3s;

        &:hover,
        &:focus-visible {
            outline: none;
            background-color: $secondary-neutral;
            color: $primary-neutral;
        }
    }
}

@media (max-width: 620px) {
    .section {
        padding: 60px 0 150px 0;
    }
}