.wrapper {
    max-width: 1820px;
    width: 95%;
    margin: 0 auto;
}

.skip-link {
    display: none;
}

.side-nav {
    position: fixed;
    right: 2.5%;
    bottom: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    padding: 25px 20px;

    font-size: 1.75rem;
    
    background-color: black;
    color: white;
}

.header,
.footer,
.section {
    width: 100vw;
}

.section {
    padding: 140px 0 150px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}