.theme {
    &--main {
        background-color: $main-bg;
        
        .header__main-content,
        .skills,
        .contact {
        background-color: black;
        color: white;
        }
    }
}