// FONT IMPORTS
// Blocus
@font-face {
    font-family: 'Blocus';
    src: url('../assets/fonts/blocus/blocuswebfont.woff') format('woff'),
        url('../assets/fonts/blocus/blocuswebfont.ttf') format('ttf');
    } 

// Trickster
@font-face {
    font-family: 'Trickster';
    src: url('../assets/fonts/trickster/Trickster-Regular.woff2') format('woff2'),
        url('../assets/fonts/trickster/Trickster-Regular.woff') format('woff');
    }

@font-feature-values 'Trickster' {
    @styleset {
        symbols: 3;
    }
}

html {
    font-size: 125%; // 20px
}

body {
    font-family: $body-font;
    font-size: 1rem; // 20px
}

h1, h3,
.footer {
    font-family: $display-font;
    font-weight: 400;
}

// FONT-WEIGHT
h4, h5,
.info,
form {
    font-weight: 700;
}

h2,
input,
textarea,
.projects__built-with {
    font-weight: 500;
}

nav, .button {
    font-weight: 600;
}

// TEXT-ALIGN
h3, .symbol {
    text-align: center;
}

// TEXT-TRANSFORM
h1, h3, 
.button,
.footer {
    text-transform: lowercase;
}

h4, h5,
.info,
.projects__built-with,
form,
button[type="submit"] {
    text-transform: uppercase;
}

// LETTER-SPACING
h2, h4, h5,
.info {
    letter-spacing: -0.03em;
}

// LINE-HEIGHT
h4, h5,
.info {
    line-height: 150%;
}

// ELEMENT SPECIFIC
h1 {
    font-size: 6.4rem; //128px
    line-height: .9;
}

h2 {
    font-size: 1.8rem; // 36px
}

h3 {
    font-size: 5.5rem; // 110px
}

h4 {
    font-size: 2.4rem; // 48px
}

h5,
.info {
    font-size: 1.6rem; // 32px
}

nav {
    font-size: 1rem; // 20px
    letter-spacing: 0.06em;
}

.symbol {
    font-family: $symbol-font;
    font-size: 6.4rem; // 128px
    font-variant-alternates: styleset(symbols);
}

.footer {
    font-size: 2rem; // 40px
}

