// FONT IMPORTS
// Blocus
@font-face {
    font-family: 'Blocus';
    src: url('../assets/fonts/blocus/blocuswebfont.woff') format('woff'),
        url('../assets/fonts/blocus/blocuswebfont.ttf') format('ttf');
    } 

// Trickster
@font-face {
    font-family: 'Trickster';
    src: url('../assets/fonts/trickster/Trickster-Regular.woff2') format('woff2'),
        url('../assets/fonts/trickster/Trickster-Regular.woff') format('woff');
    }

@font-feature-values 'Trickster' {
    @styleset {
        symbols: 3;
    }
}

html {
    font-size: 125%; // 20px
}

body {
    font-family: $body-font;
    font-size: 1rem; // 20px
}

h1, h3,
.footer {
    font-family: $display-font;
    font-weight: 400;
}

// FONT-WEIGHT
h4, h5,
.info,
form {
    font-weight: 700;
}

h2,
input,
textarea,
.projects__tech {
    font-weight: 500;
}

nav, .button {
    font-weight: 600;
}

// TEXT-ALIGN
h3, .symbol {
    text-align: center;
}

// TEXT-TRANSFORM
h1, h3, 
.button,
.footer {
    text-transform: lowercase;
}

h4, h5,
.info,
.projects__tech,
form,
button[type="submit"] {
    text-transform: uppercase;
}

// LETTER-SPACING
h2, h4, h5,
.info {
    letter-spacing: -0.03em;
}

// LINE-HEIGHT
h4, h5,
.info {
    line-height: 150%;
}

// ELEMENT SPECIFIC
h1 {
    font-size: 5rem; // 100px
    line-height: .9;
}

h2 {
    font-size: 1.4rem; // 28px
}

h3 {
    font-size: 4.5rem; // 110px
}

h4 {
    font-size: 2.4rem; // 48px
}

h5,
.info {
    font-size: 1.6rem; // 32px
}

nav {
    font-size: .9rem;
    letter-spacing: 0.06em;
}

.symbol {
    font-family: $symbol-font;
    font-size: 6.4rem; // 128px
    font-variant-alternates: styleset(symbols);
    font-feature-settings: "ss03";
}

.footer {
    font-size: 2rem; // 40px
}

@media (max-width: 600px) {
    // I found this method of linearly scaling font-size in this artlice by Pedro Rodriguez on css-tricks.com
    // https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ 

    h1 {
        font-size: clamp(2.7rem, 1.214rem + 9.286vw, 4rem);
    }

    h2 {
        font-size: clamp(.9rem, 0.557rem + 2.143vw , 1.2rem);
    }
}

@media (max-width: 500px) {
    h3 {
        font-size: 3rem; // 76px
    }
}