// UTILITIES
@import './utilities/variables';
@import './utilities/placeholders';
@import './utilities/setup';

// GLOBAL STYLES
@import './base-styles';
@import './typography';

// SITE SECTIONS
// global
@import './partials/header';
@import './partials/footer';

// main page
@import './partials/about';
@import './partials/skills';
@import './partials/projects';
@import './partials/contact';

// thank you page (form submit)
@import './partials/form-submit';