// THEME PALLETTES
// main theme
$main-bg: #EEE7FD;
$main-accent: #474747;
$main-footer: #141414;

// light theme
$light-bg: #EEE7FD;
$light-accent: #E3C8FF;
$light-footer: #E2E2E2;

// dark theme
$dark-bg: #201F28;
$dark-accent: #474747;
$dark-footer: #141414;


// FONTS
$display-font: "Blocus", sans-serif;
$body-font: "Montserrat", sans-serif;
$symbol-font: "Trickster";
