// THEME PALETTES
// global
$accent: #C48DFF;

// main theme
.theme--main {
    --header-bg: #E4D1FF;
    --header-text: black;
    --primary-neutral: black;
    --secondary-neutral: white;
    --primary-neutral--alt: black;
    --secondary-neutral--alt: white;
    --bg: #EEE7FD;
    --text-accent: #474747;
    --link: #8E25FF;
    --footer: #141414;
}

// light theme
.theme--light {
    --header-bg: white;
    --header-text: black;
    --primary-neutral: white;
    --secondary-neutral: black;
    --primary-neutral--alt: black;
    --secondary-neutral--alt: white;
    --bg: #EEE7FD;
    --text-accent: #474747;
    --link: #8E25FF;
    --footer: #E2E2E2;
}

// dark theme
.theme--dark {
    --header-bg: black;
    --header-text: white;
    --primary-neutral: black;
    --secondary-neutral: white;
    --primary-neutral--alt: white;
    --secondary-neutral--alt: black;
    --bg: #201F28;
    --text-accent: #E3C8FF;
    -link: #C48DFF;
    --footer: #141414;
}

$header-bg: var(--header-bg);
$header-text: var(--header-text);

$primary-neutral: var(--primary-neutral);
$secondary-neutral: var(--secondary-neutral);
$primary-neutral--alt: var(--primary-neutral--alt);
$secondary-neutral--alt: var(--secondary-neutral--alt);

$bg: var(--bg);
$text-accent: var(--text-accent);
$link: var(--link);
$footer: var(--footer);


// FONTS
$display-font: "Blocus", sans-serif;
$body-font: "Montserrat", sans-serif;
$symbol-font: "Trickster";
