html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.wrapper {
  max-width: 1820px;
  width: 95%;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: -50px;
  z-index: 999;
  width: 100%;
  text-align: center;
  background: white;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skip-link:focus {
  outline: none;
  top: 0;
}

.side-nav {
  position: fixed;
  right: 2.5%;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 240px;
  padding: 25px 20px;
  font-size: 1.75rem;
  background-color: black;
  color: white;
}
.side-nav a:focus {
  outline: none;
  color: #c48dff;
}

.header,
.footer,
.section {
  width: 100vw;
}

.section {
  padding: 140px 0 150px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 215px;
  height: 60px;
  background-color: black;
  color: white;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.button:hover, .button:focus {
  outline: none;
  border: 4px solid black;
  background-color: transparent;
  color: black;
}

form input,
form textarea,
form button[type=submit] {
  border: none;
  border-radius: 0;
}
form input,
form button[type=submit] {
  height: 60px;
}
form input,
form textarea {
  margin-bottom: 40px;
  padding: 0 15px;
  font-weight: 600;
}
form input:focus,
form textarea:focus {
  outline: 4px solid #c48dff;
}
form textarea {
  padding: 15px;
}
form label {
  margin-bottom: 15px;
}
form button[type=submit] {
  border: 4px solid white;
  background-color: transparent;
  color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
form button[type=submit]:hover, form button[type=submit]:focus-visible {
  background-color: white;
  color: black;
}

@font-face {
  font-family: "Blocus";
  src: url("../assets/fonts/blocus/blocuswebfont.woff") format("woff"), url("../assets/fonts/blocus/blocuswebfont.ttf") format("ttf");
}
@font-face {
  font-family: "Trickster";
  src: url("../assets/fonts/trickster/Trickster-Regular.woff2") format("woff2"), url("../assets/fonts/trickster/Trickster-Regular.woff") format("woff");
}
@font-feature-values "Trickster" {
  @styleset {
    symbols: 3;
  }
}
html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h1, h3,
.footer {
  font-family: "Blocus", sans-serif;
  font-weight: 400;
}

h4, h5,
.info,
form {
  font-weight: 700;
}

h2,
input,
textarea,
.projects__built-with {
  font-weight: 500;
}

nav, .button {
  font-weight: 600;
}

h3, .symbol {
  text-align: center;
}

h1, h3,
.button,
.footer {
  text-transform: lowercase;
}

h4, h5,
.info,
.projects__built-with,
form,
button[type=submit] {
  text-transform: uppercase;
}

h2, h4, h5,
.info {
  letter-spacing: -0.03em;
}

h4, h5,
.info {
  line-height: 150%;
}

h1 {
  font-size: 6.4rem;
  line-height: 0.9;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 5.5rem;
}

h4 {
  font-size: 2.4rem;
}

h5,
.info {
  font-size: 1.6rem;
}

nav {
  font-size: 1rem;
  letter-spacing: 0.06em;
}

.symbol {
  font-family: "Trickster";
  font-size: 6.4rem;
  font-variant-alternates: styleset(symbols);
}

.footer {
  font-size: 2rem;
}

.theme--main {
  background-color: #EEE7FD;
}
.theme--main .header__main-content,
.theme--main .skills,
.theme--main .contact {
  background-color: black;
  color: white;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__main-content {
  min-height: 300px;
  padding: 50px 0 0 0;
}
.header__main-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 375px;
  height: 30px;
}
.header__nav a {
  position: relative;
  height: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.header__nav a::after {
  content: "";
  position: absolute;
  left: -10%;
  top: -25%;
  height: 40px;
  width: 120%;
  background-color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
.header__nav a:hover, .header__nav a:focus {
  outline: none;
  color: black;
}
.header__nav a:hover::after, .header__nav a:focus::after {
  opacity: 1;
}
.header__image {
  height: 100%;
  background-image: url("../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__image .wrapper {
  position: relative;
  height: 100%;
}
.header__theme-slider {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 43px;
}
.header__theme-slider input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 5px;
  border-radius: 25px;
  background: transparent;
  outline: none;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__theme-slider input:focus-visible {
  outline: 4px solid white;
}
.header__theme-slider input::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.header__slider-container {
  height: 100%;
}
.header__theme-icons {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  font-size: 1.4rem;
  background-color: black;
  z-index: 0;
}
.header__icon-container {
  position: relative;
  min-height: 50px;
  min-width: 48px;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}
.header__icon-container--light {
  left: 9px;
  background-image: url("../assets/images/icons/sun.svg");
}
.header__icon-container--main {
  background-image: url("../assets/images/icons/sun-moon.svg");
}
.header__icon-container--dark {
  right: 8px;
  background-image: url("../assets/images/icons/moon-cloud.svg");
}

.footer {
  text-align: center;
  color: white;
  background-color: #141414;
}

.about h3 {
  margin-bottom: 100px;
}
.about__grid {
  display: grid;
  grid-template-columns: 615px 1fr;
  grid-template-rows: 692px auto;
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
}
.about__img {
  justify-self: end;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: #F8C2C2;
}
.about__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: -0.01em;
}
.about__titles h4 {
  margin-bottom: 10px;
}
.about__titles h5 {
  margin-bottom: 20px;
}
.about__info-container {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 66%;
  min-width: 850px;
  margin-bottom: 120px;
}
.about__info {
  width: 430px;
  margin-top: 50px;
}
.about__info h5 {
  margin-bottom: 10px;
}

.skills h3 {
  margin: 0 0 140px 0;
}
.skills__skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 80px;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 847px;
  margin: 0 auto;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.skills__skill-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 135px;
  height: 160px;
}
.skills__skill-container i {
  font-size: 5.4rem;
}

.projects h3 {
  margin-bottom: 120px;
}
.projects__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83.334%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.projects__project p {
  line-height: 120%;
}
.projects__project--1 .projects__built-with {
  width: 420px;
}
.projects__project--2 .projects__built-with {
  width: 420px;
}
.projects__project--3 .projects__built-with {
  width: 420px;
}
.projects__project--4 .projects__built-with {
  width: 420px;
}
.projects__img-container {
  -ms-flex-preferred-size: 448px;
      flex-basis: 448px;
  height: 334px;
}
.projects__text-container {
  -ms-flex-preferred-size: 642px;
      flex-basis: 642px;
  margin-left: 50px;
}
.projects__built-with {
  position: relative;
  left: -12px;
  margin-bottom: 28px;
  padding: 8px 12px;
  color: white;
  background-color: black;
}
.projects__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 475px;
  margin: 25px 0 0 0;
}
.projects .symbol {
  padding-top: 50px;
  font-size: 7.5rem;
}

.contact .wrapper {
  width: 60%;
  max-width: 675px;
}
.contact h3 {
  margin: 0 0 85px 0;
}
.contact p {
  text-align: center;
  margin: 0 0 85px 0;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}