.theme--main {
  --header-bg: #EADAFF;
  --header-text: black;
  --primary-neutral: black;
  --secondary-neutral: white;
  --primary-neutral--alt: black;
  --secondary-neutral--alt: white;
  --bg: #EEE7FD;
  --text-accent: #474747;
  --link: #C48DFF;
  --footer: #141414;
}

.theme--light {
  --header-bg: white;
  --header-text: black;
  --primary-neutral: white;
  --secondary-neutral: black;
  --primary-neutral--alt: black;
  --secondary-neutral--alt: white;
  --bg: #EEE7FD;
  --text-accent: #474747;
  --link: #C48DFF;
  --footer: #E2E2E2;
}

.theme--dark {
  --header-bg: black;
  --header-text: white;
  --primary-neutral: black;
  --secondary-neutral: white;
  --primary-neutral--alt: white;
  --secondary-neutral--alt: black;
  --bg: #201F28;
  --text-accent: #E3C8FF;
  --link: #C48DFF;
  --footer: #141414;
}

.header__theme-slider input::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: var(--header-text);
  -moz-transition: 0.3s;
  transition: 0.3s;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
}

.wrapper {
  max-width: 1820px;
  width: 95%;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: -50px;
  z-index: 999;
  width: 100%;
  text-align: center;
  background: var(--secondary-neutral);
  color: var(--primary-neutral);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skip-link:focus {
  outline: none;
  top: 0;
}

.material-icons {
  font-size: 1.2rem;
  color: var(--secondary-neutral);
}

.header,
.footer,
.section {
  width: 100vw;
}

.section {
  padding: 80px 0 150px 0;
}

.header__main-content,
.skills,
.contact {
  background-color: var(--primary-neutral);
  color: var(--secondary-neutral);
}

.text-accent {
  color: var(--text-accent);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  padding: 3px 5px;
  background-color: transparent;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button:hover, .button:focus {
  color: black;
  background-color: white;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

form input,
form textarea,
form button[type=submit] {
  border: 4px solid var(--secondary-neutral);
  border-radius: 0;
}
form input,
form button[type=submit] {
  height: 60px;
}
form input,
form textarea {
  padding: 0 15px;
  font-weight: 600;
}
form input:focus,
form textarea:focus {
  outline: 4px solid #C48DFF;
}
form textarea {
  padding: 15px;
}
form label {
  margin-bottom: 15px;
}
form button[type=submit] {
  background-color: transparent;
  color: var(--secondary-neutral);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
form button[type=submit]:hover, form button[type=submit]:focus-visible {
  outline: none;
  background-color: var(--secondary-neutral);
  color: var(--primary-neutral);
}

.form-submit__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 50px;
  border: 4px solid var(--secondary-neutral);
  background-color: var(--secondary-neutral);
  color: var(--primary-neutral);
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: lowercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-submit__button:hover, .form-submit__button:focus {
  background-color: transparent;
  color: var(--secondary-neutral);
}

html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 620px) {
  .section {
    padding: 40px 0 150px 0;
  }
}
@font-face {
  font-family: "Blocus";
  src: url("../assets/fonts/blocus/blocuswebfont.woff") format("woff"), url("../assets/fonts/blocus/blocuswebfont.ttf") format("ttf");
}
@font-face {
  font-family: "Trickster";
  src: url("../assets/fonts/trickster/Trickster-Regular.woff2") format("woff2"), url("../assets/fonts/trickster/Trickster-Regular.woff") format("woff");
}
@font-feature-values "Trickster" {
  @styleset {
    symbols: 3;
  }
}
html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h1, h3,
.footer {
  font-family: "Blocus", sans-serif;
  font-weight: 400;
}

h4, h5,
.info,
form {
  font-weight: 700;
}

h2,
input,
textarea,
.projects__tech {
  font-weight: 500;
}

nav, .button {
  font-weight: 600;
}

h3, .symbol {
  text-align: center;
}

h1, h3,
.button,
.footer {
  text-transform: lowercase;
}

h4, h5,
.info,
.projects__tech,
form,
button[type=submit] {
  text-transform: uppercase;
}

h2, h4, h5,
.info {
  letter-spacing: -0.03em;
}

h4, h5,
.info {
  line-height: 150%;
}

h1 {
  font-size: 5rem;
  line-height: 0.9;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 2.4rem;
}

h5,
.info {
  font-size: 1.6rem;
}

nav {
  font-size: 0.9rem;
  letter-spacing: 0.06em;
}

.symbol {
  font-family: "Trickster";
  font-size: 6.4rem;
  font-variant-alternates: styleset(symbols);
  -webkit-font-feature-settings: "ss03";
          font-feature-settings: "ss03";
}

.footer {
  font-size: 2rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: clamp(2.7rem, 1.214rem + 9.286vw, 4rem);
  }
  h2 {
    font-size: clamp(0.9rem, 0.557rem + 2.143vw, 1.2rem);
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 3rem;
  }
}
.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header h1, .header h2, .header a {
  color: var(--header-text);
}
.header .wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 40px 40px 0 40px;
}
.header__main-content {
  height: 60vh;
  min-height: 350px;
  background-color: var(--header-bg);
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  height: 30px;
}
.header__nav a {
  position: relative;
  height: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}
.header__nav a::after {
  content: "";
  position: absolute;
  left: -10%;
  top: -25%;
  z-index: -1;
  height: 40px;
  width: 120%;
  background-color: var(--header-text);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__nav a:hover, .header__nav a:focus {
  outline: none;
  color: var(--secondary-neutral--alt);
}
.header__nav a:hover::after, .header__nav a:focus::after {
  opacity: 1;
}
.header__image {
  height: 100%;
  background-image: url("../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__image .wrapper {
  position: relative;
  height: 100%;
}
.header__theme-slider {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100px;
}
.header__theme-slider input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 5px;
  border-radius: 25px;
  background: transparent;
  outline: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__theme-slider input:hover::-moz-range-thumb, .header__theme-slider input:hover::-webkit-slider-thumb, .header__theme-slider input:focus-visible::-moz-range-thumb, .header__theme-slider input:focus-visible::-webkit-slider-thumb {
  background-color: #C48DFF;
}
.header__theme-slider input:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.header__theme-slider input::-webkit-slider-thumb {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: var(--header-text);
  -webkit-appearance: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__slider-container {
  height: 100%;
}
.header__theme-icons {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 103%;
  height: 100%;
  padding: 0 2px;
  border-radius: 25px;
  border: 2.5px solid var(--header-text);
  border-spacing: 2px;
  z-index: 0;
}
.header__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icon-container .material-icons {
  color: var(--header-text);
}

@media (max-width: 1020px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 830px) {
  .header .wrapper {
    padding: 30px 30px 0 30px;
  }
}
@media (max-width: 600px) {
  .header__main-content {
    height: 80vh;
    min-height: 250px;
  }
}
.side-nav {
  position: fixed;
  right: 2.5%;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--primary-neutral);
  color: var(--secondary-neutral);
}
.side-nav a, .side-nav button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.side-nav a:focus,
.side-nav a:hover {
  outline: none;
  color: #C48DFF;
}
.side-nav button:focus > .material-icons,
.side-nav button:hover > .material-icons {
  color: #C48DFF;
}
.side-nav--desktop {
  z-index: 6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 170px;
  padding: 12px 8px;
  font-size: 1.3rem;
}
.side-nav--mobile {
  z-index: 7;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  padding: 0;
}
.side-nav--mobile .material-icons {
  font-size: 1.6rem;
}
.side-nav--mobile .icon--close {
  display: none;
}

.side-nav--desktop.show {
  opacity: 1;
  right: 2.5%;
}

.side-nav--mobile.slide {
  right: 83vw;
}
.side-nav--mobile.slide span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1020px) {
  .side-nav {
    bottom: 40px;
  }
  .side-nav--desktop {
    right: -100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 145px;
    height: 40px;
    padding: 0;
    margin-right: 20px;
    background-color: transparent;
    opacity: 0;
    -webkit-transition: right 1s, opacity 2s;
    transition: right 1s, opacity 2s;
  }
  .side-nav--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .side-nav--mobile span {
    -webkit-transition: 1s;
    transition: 1s;
  }
}
.header__mobile-nav {
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 5;
  min-height: 100vh;
  width: 100vw;
  overflow: visible;
  background-color: var(--primary-neutral);
  font-size: 2rem;
  font-family: "Blocus", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.header__mobile-nav-links {
  position: relative;
  bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  height: 100vh;
  margin: 0 auto;
}
.header__mobile-nav-links a {
  color: var(--secondary-neutral);
}

.header__mobile-nav.open {
  left: 0 !important;
  opacity: 1;
}

.footer {
  font-size: 1.2rem;
  color: var(--secondary-neutral);
  background-color: var(--footer);
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.about {
  font-size: 1.2rem;
  color: var(--primary-neutral--alt);
}
.about h3 {
  margin-bottom: 100px;
}
.about__grid {
  display: grid;
  grid-template-columns: 615px 1fr;
  grid-template-rows: repeat(3, auto);
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
}
.about__img {
  grid-row: 1/span 2;
  grid-column: 2/span 1;
  justify-self: flex-end;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-image: url(../assets/images/headshot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about__bio {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
.about__titles {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}
.about__titles h4 {
  margin-bottom: 10px;
}
.about__titles h5 {
  margin-bottom: 50px;
}
.about__info-container {
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  min-width: 850px;
  margin: 20px 0 120px 0;
}
.about__info {
  width: 100%;
  margin-top: 50px;
}
.about__info h5 {
  margin-bottom: 10px;
}

@media (max-width: 1290px) {
  .about__grid {
    grid-template-columns: auto 1fr;
    max-width: 780px;
  }
  .about h4 {
    font-size: 1.8rem;
  }
  .about h5 {
    font-size: 1.6rem;
  }
  .about__titles {
    max-width: 500px;
  }
  .about__titles h4 {
    margin-bottom: 20px;
  }
  .about__titles h4, .about__titles h5 {
    line-height: 125%;
  }
  .about__bio {
    grid-column: 1/span 2;
    gap: 30px;
  }
  .about__img {
    grid-row: 1/span 1;
    height: 300px;
    width: 300px;
    margin-bottom: 75px;
  }
  .about__info-container {
    min-width: unset;
    width: 100%;
  }
  .about__info {
    width: auto;
  }
  .about__info h5, .about__info .info {
    font-size: 1.4rem;
  }
}
@media (max-width: 875px) {
  .about h4 {
    font-size: 1.4rem;
  }
  .about h5, .about .info {
    font-size: 1.2rem;
  }
  .about__grid {
    max-width: 610px;
  }
  .about__bio {
    font-size: 1rem;
  }
  .about__img {
    height: 250px;
    width: 250px;
    margin-bottom: 60px;
  }
}
@media (max-width: 700px) {
  .about h3 {
    margin-bottom: 50px;
  }
  .about h4 {
    font-size: 1.4rem;
  }
  .about__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 80%;
  }
  .about__titles {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  .about__titles h5 {
    margin-bottom: 30px;
  }
  .about__titles .line-break {
    display: block;
  }
  .about__bio {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    font-size: 0.9rem;
  }
  .about__img {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    justify-self: center;
    height: 300px;
    width: 300px;
    margin-bottom: 65px;
  }
  .about__info-container {
    grid-column: 1/span 1;
    grid-row: 5/span 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
  }
}
@media (max-width: 450px) {
  .about__grid {
    width: 90%;
  }
  .about__img {
    height: 75vw;
    width: 75vw;
  }
  .about__info {
    margin-top: 30px;
  }
  .about__info .line-break {
    display: block;
  }
}
@media (max-width: 335px) {
  .about__titles h4 {
    font-size: 1.2rem;
  }
  .about__titles h5 {
    font-size: 1rem;
  }
}
.skills h3 {
  margin: 0 0 80px 0;
}
.skills__skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 65px;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 750px;
  margin: 0 auto;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.skills__skill-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 135px;
  height: 160px;
}
.skills__skill-container i {
  font-size: 5.4rem;
}
.skills__skill-container svg path {
  fill: var(--secondary-neutral);
}

@media (max-width: 1290px) {
  .skills__skill-container {
    max-width: 670px;
    width: 85%;
    row-gap: 60px;
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset;
  }
}
@media (max-width: 850px) {
  .skills__skill-container {
    width: 599px;
    font-size: 1rem;
  }
  .skills__skill-container li {
    width: 120px;
    height: 140px;
  }
  .skills__skill-container i {
    font-size: 4.8rem;
  }
  .skills__skill-container svg {
    width: 120px;
    height: 96px;
  }
}
@media (max-width: 735px) {
  .skills__skill-container {
    width: 535px;
  }
  .skills__skill-container li {
    width: 107.5px;
    height: 120px;
  }
  .skills__skill-container i {
    font-size: 4.3rem;
  }
  .skills__skill-container svg {
    width: 107.5px;
    height: 86px;
  }
}
@media (max-width: 620px) {
  .skills__skill-container {
    width: 358px;
  }
  .skills__skill-container li {
    width: 135px;
    height: 140px;
  }
  .skills__skill-container i {
    font-size: 5.4rem;
  }
  .skills__skill-container svg {
    width: 135px;
    height: 108px;
  }
}
@media (max-width: 500px) {
  .skills h3 {
    margin-bottom: 40px;
  }
  .skills__skill-container {
    width: 294px;
  }
  .skills__skill-container li {
    width: 100px;
    height: 115px;
    font-size: 1rem;
  }
  .skills__skill-container i {
    font-size: 4rem;
  }
  .skills__skill-container svg {
    width: 100px;
    height: 80px;
  }
}
@media (max-width: 410px) {
  .skills__skill-container {
    width: 245px;
  }
  .skills__skill-container li {
    width: 87.5px;
    height: 100px;
    font-size: 0.9rem;
  }
  .skills__skill-container i {
    font-size: 3.5rem;
  }
  .skills__skill-container svg {
    width: 87.5px;
    height: 70px;
  }
}
.theme--main .projects {
  background-color: #201F28;
  color: white;
}
.theme--main .projects .tns-nav button {
  background-color: black;
  border: 2px solid white;
}

.projects {
  color: var(--primary-neutral--alt);
}
.projects .wrapper {
  width: 100%;
}
.projects h3 {
  margin-bottom: 20px;
}
.projects h5 {
  font-size: 1rem;
}
.projects__carousel-container {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.projects__carousel-btn {
  display: none;
}
.projects__project {
  position: relative;
  width: 85vw !important;
  max-width: 405px;
  border-radius: 15px;
  overflow: hidden;
}
.projects__img-container {
  border-radius: inherit;
}
.projects__img-container img {
  border-radius: inherit;
}
.projects__img-container .hide {
  display: none;
}
.projects__details-btn {
  position: absolute;
  top: -30px;
  left: calc(50% - 48px);
  z-index: 3;
  display: none;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects__details-btn span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects__details-btn--close {
  display: none;
}
.projects__details-btn.slide {
  top: 0;
  border-radius: 0 0 20px 20px;
  border-bottom: unset;
  border-top: none;
}
.projects__details-btn.slide .projects__details-btn--open {
  display: none;
}
.projects__details-btn.slide .projects__details-btn--close {
  display: block;
}
.projects__text-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-right: 20px;
  border-radius: 15px;
  font-size: 0.75rem;
  transition: background 1s, backdrop-filter 1s, -webkit-backdrop-filter 1s, opacity 1s, top 1s;
  overflow: hidden;
}
.projects__text-container {
  position: relative;
  height: 380px;
  width: 100%;
  min-width: 105%;
  margin-right: 0px;
  padding: 25px 20px 0px 20px;
  border-radius: 30px 30px 0 0;
  background-color: black;
  color: white;
  line-height: 115%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.projects__project-header {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55px;
  border-radius: 15px 15px 0 0;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: -webkit-grab;
  cursor: grab;
}
.projects__project-header span {
  width: 40px;
  height: 5px;
  margin-top: 10px;
  border-radius: 5px;
  color: inherit;
  background-color: white;
  opacity: 0.4;
}
.projects__tech {
  margin-bottom: 20px;
}
.projects__description a {
  color: #C48DFF;
  font-weight: 500;
}
.projects__btn-container {
  position: absolute;
  bottom: 85px;
}
.projects .tns-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.projects .tns-nav button {
  height: 15px;
  width: 15px;
  background-color: var(--secondary-neutral--alt);
  border: 2px solid var(--primary-neutral--alt);
  border-radius: 50%;
}
.projects .tns-nav-active {
  background-color: #C48DFF !important;
}
.projects .symbol {
  margin-top: 10px;
}

@media (min-width: 340px) {
  .projects h5 {
    font-size: 1.1rem;
  }
  .projects__text-bg {
    font-size: 0.8rem;
  }
}
@media (min-width: 400px) {
  .projects h5 {
    font-size: 1.2rem;
  }
  .projects__text-bg {
    font-size: 0.9rem;
  }
  .projects__text-container {
    padding: 25px 25px 0px 25px;
  }
}
@media (min-width: 700px) {
  .projects h3 {
    margin-bottom: 80px;
  }
  .projects__carousel-btn {
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    width: 15%;
    height: 97%;
    background: transparent;
  }
  .projects__carousel-btn--left {
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-radius: 0px 20px 20px 0px;
  }
  .projects__carousel-btn--right {
    right: 0;
    border-radius: 0px 20px 20px 0px;
  }
  .projects__project {
    max-width: 860px !important;
  }
  .projects__project-header {
    display: none;
  }
  .projects__details-btn {
    display: block;
  }
  .projects__text-bg {
    max-width: 860px;
    width: calc(100% - 20px);
    background: rgba(0, 0, 0, 0.81);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(2px);
    overflow: visible;
  }
  .projects__text-bg.hide {
    top: 100%;
    -webkit-animation: fadeOut 1s linear;
            animation: fadeOut 1s linear;
  }
  .projects__text-container {
    position: static;
    width: 400px;
    height: 100%;
    padding: 20px 40% 0 7.5%;
    background: transparent;
  }
  .projects__tech {
    margin-bottom: 30px;
  }
  .projects__btn-container {
    bottom: 20px;
  }
}
@media (min-width: 1100px) {
  .projects .wrapper {
    width: 95%;
  }
  .projects h5 {
    font-size: 1.6rem;
  }
  .projects__text-bg {
    font-size: 1rem;
  }
  .projects__text-container {
    padding: 20px 50% 0 7.5%;
  }
  .projects__carousel-btn {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#000000));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
}
@media (min-width: 1450px) {
  .projects__carousel-btn {
    width: 22.5%;
  }
}
@-webkit-keyframes fadeOut {
  from {
    z-index: 1;
    opacity: 1;
  }
  to {
    z-index: 1;
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    z-index: 1;
    opacity: 1;
  }
  to {
    z-index: 1;
    opacity: 0;
  }
}
.contact .wrapper {
  width: 60%;
  max-width: 675px;
}
.contact h3 {
  margin: 0 0 85px 0;
}
.contact p {
  text-align: center;
  margin: 0 0 50px 0;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact__form input,
.contact__form textarea {
  margin-bottom: 40px;
}
.contact__form textarea {
  resize: vertical;
}

@media (max-width: 950px) {
  .contact .wrapper {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .contact h3 {
    margin: 0 0 60px 0;
  }
  .contact p {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 600px) {
  .contact {
    padding-bottom: 100px;
  }
  .contact .wrapper {
    width: 85%;
  }
  .contact input,
.contact button[type=submit] {
    height: 50px;
  }
  .contact p {
    font-size: 0.9rem;
  }
}
.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-neutral);
  color: var(--secondary-neutral);
  text-align: center;
}
.form-submit .wrapper {
  position: relative;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
}
.form-submit__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 415px;
}
.form-submit h1 {
  margin-bottom: 20px;
  font-size: 5rem;
}
.form-submit p,
.form-submit .button {
  font-size: 0.9rem;
}
.form-submit p {
  margin-bottom: 40px;
  font-weight: 500;
}
.form-submit .button {
  margin-bottom: 20px;
  background-color: var(--secondary-neutral);
  color: var(--primary-neutral);
}
.form-submit .button:hover, .form-submit .button:focus {
  background-color: transparent;
  color: var(--secondary-neutral);
  border: 4px solid var(--secondary-neutral);
}
.form-submit .symbol {
  font-size: 5.8rem;
  margin: 0;
}

@media (max-width: 428px) and (max-height: 700px) {
  .form-submit {
    padding-top: 20px;
    height: 100vh;
    overflow: hidden;
  }
  .form-submit h1 {
    font-size: 4rem;
  }
  .form-submit p,
.form-submit .button {
    font-size: 0.8rem;
  }
  .form-submit .button {
    width: 155px;
    height: 50px;
  }
  .form-submit .symbol {
    font-size: 4.5rem;
  }
}
@media (max-height: 700px) {
  .form-submit .wrapper {
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
  }
}