.theme--main {
  --primary-neutral: black;
  --secondary-neutral: white;
  --primary-neutral--alt: black;
  --secondary-neutral--alt: white;
  --bg: #EEE7FD;
  --text-accent: #474747;
  --footer: #141414;
}

.theme--light {
  --primary-neutral: white;
  --secondary-neutral: black;
  --primary-neutral--alt: black;
  --secondary-neutral--alt: white;
  --bg: #EEE7FD;
  --text-accent: #474747;
  --footer: #E2E2E2;
}

.theme--dark {
  --primary-neutral: black;
  --secondary-neutral: white;
  --primary-neutral--alt: white;
  --secondary-neutral--alt: black;
  --bg: #201F28;
  --text-accent: #E3C8FF;
  --footer: #141414;
}

.header__theme-slider input::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: var(--secondary-neutral);
  -moz-transition: 0.3s;
  transition: 0.3s;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  background-color: var(--bg);
}

.wrapper {
  max-width: 1820px;
  width: 95%;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: -50px;
  z-index: 999;
  width: 100%;
  text-align: center;
  background: var(--secondary-neutral);
  color: var(--primary-neutral);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skip-link:focus {
  outline: none;
  top: 0;
}

.material-icons {
  font-size: 1.2rem;
  color: var(--secondary-neutral);
}

.header,
.footer,
.section {
  width: 100vw;
}

.section {
  padding: 80px 0 150px 0;
}

.header__main-content,
.skills,
.contact {
  background-color: var(--primary-neutral);
  color: var(--secondary-neutral);
}

.text-accent {
  color: var(--text-accent);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 215px;
  height: 60px;
  background-color: var(--primary-neutral--alt);
  color: var(--secondary-neutral--alt);
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.button:hover, .button:focus {
  outline: none;
  border: 4px solid var(--primary-neutral--alt);
  background-color: transparent;
  color: var(--primary-neutral--alt);
}

button {
  border: none;
  cursor: pointer;
}

form input,
form textarea,
form button[type=submit] {
  border: 4px solid var(--secondary-neutral);
  border-radius: 0;
}
form input,
form button[type=submit] {
  height: 60px;
}
form input,
form textarea {
  padding: 0 15px;
  font-weight: 600;
}
form input:focus,
form textarea:focus {
  outline: 4px solid #C48DFF;
}
form textarea {
  padding: 15px;
}
form label {
  margin-bottom: 15px;
}
form button[type=submit] {
  background-color: transparent;
  color: var(--secondary-neutral);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
form button[type=submit]:hover, form button[type=submit]:focus-visible {
  outline: none;
  background-color: var(--secondary-neutral);
  color: var(--primary-neutral);
}

@media (max-width: 620px) {
  .section {
    padding: 60px 0 150px 0;
  }
}
@font-face {
  font-family: "Blocus";
  src: url("../assets/fonts/blocus/blocuswebfont.woff") format("woff"), url("../assets/fonts/blocus/blocuswebfont.ttf") format("ttf");
}
@font-face {
  font-family: "Trickster";
  src: url("../assets/fonts/trickster/Trickster-Regular.woff2") format("woff2"), url("../assets/fonts/trickster/Trickster-Regular.woff") format("woff");
}
@font-feature-values "Trickster" {
  @styleset {
    symbols: 3;
  }
}
html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h1, h3,
.footer {
  font-family: "Blocus", sans-serif;
  font-weight: 400;
}

h4, h5,
.info,
form {
  font-weight: 700;
}

h2,
input,
textarea,
.projects__built-with {
  font-weight: 500;
}

nav, .button {
  font-weight: 600;
}

h3, .symbol {
  text-align: center;
}

h1, h3,
.button,
.footer {
  text-transform: lowercase;
}

h4, h5,
.info,
.projects__built-with,
form,
button[type=submit] {
  text-transform: uppercase;
}

h2, h4, h5,
.info {
  letter-spacing: -0.03em;
}

h4, h5,
.info {
  line-height: 150%;
}

h1 {
  font-size: 5rem;
  line-height: 0.9;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 5.5rem;
}

h4 {
  font-size: 2.4rem;
}

h5,
.info {
  font-size: 1.6rem;
}

nav {
  font-size: 0.9rem;
  letter-spacing: 0.06em;
}

.symbol {
  font-family: "Trickster";
  font-size: 6.4rem;
  font-variant-alternates: styleset(symbols);
  -webkit-font-feature-settings: "ss03";
          font-feature-settings: "ss03";
}

.footer {
  font-size: 2rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: clamp(2.7rem, 1.214rem + 9.286vw, 4rem);
  }
  h2 {
    font-size: clamp(0.9rem, 0.557rem + 2.143vw, 1.2rem);
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 3.8rem;
  }
}
.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 40px 40px 0 40px;
}
.header__main-content {
  height: 60vh;
  min-height: 350px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  height: 30px;
}
.header__nav a {
  position: relative;
  height: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}
.header__nav a::after {
  content: "";
  position: absolute;
  left: -10%;
  top: -25%;
  z-index: -1;
  height: 40px;
  width: 120%;
  background-color: var(--secondary-neutral);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__nav a:hover, .header__nav a:focus {
  outline: none;
  color: var(--primary-neutral);
}
.header__nav a:hover::after, .header__nav a:focus::after {
  opacity: 1;
}
.header__image {
  height: 100%;
  background-image: url("../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__image .wrapper {
  position: relative;
  height: 100%;
}
.header__theme-slider {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100px;
}
.header__theme-slider input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 5px;
  border-radius: 25px;
  background: transparent;
  outline: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__theme-slider input:hover::-moz-range-thumb, .header__theme-slider input:hover::-webkit-slider-thumb, .header__theme-slider input:focus-visible::-moz-range-thumb, .header__theme-slider input:focus-visible::-webkit-slider-thumb {
  background-color: #C48DFF;
}
.header__theme-slider input:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.header__theme-slider input::-webkit-slider-thumb {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: var(--secondary-neutral);
  -webkit-appearance: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__slider-container {
  height: 100%;
}
.header__theme-icons {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 103%;
  height: 100%;
  padding: 0 2px;
  border-radius: 25px;
  border: 2.5px solid var(--secondary-neutral);
  border-spacing: 2px;
  z-index: 0;
}
.header__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1020px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 830px) {
  .header .wrapper {
    padding: 30px 30px 0 30px;
  }
}
@media (max-width: 600px) {
  .header__main-content {
    height: 80vh;
    min-height: 250px;
  }
}
.side-nav {
  position: fixed;
  right: 2.5%;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--primary-neutral);
  color: var(--secondary-neutral);
}
.side-nav a, .side-nav button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.side-nav a:focus,
.side-nav a:hover {
  outline: none;
  color: #C48DFF;
}
.side-nav button:focus > .material-icons,
.side-nav button:hover > .material-icons {
  color: #C48DFF;
}
.side-nav--desktop {
  z-index: 6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 170px;
  padding: 12px 8px;
  font-size: 1.3rem;
}
.side-nav--mobile {
  z-index: 7;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  padding: 0;
}
.side-nav--mobile .material-icons {
  font-size: 1.6rem;
}
.side-nav--mobile .icon--close {
  display: none;
}

@media (max-width: 1020px) {
  .side-nav {
    bottom: 40px;
  }
  .side-nav--desktop {
    display: none;
  }
  .side-nav--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  min-height: 100vh;
  width: 100vw;
  overflow: visible;
  background-color: var(--primary-neutral);
  color: var(--secondary-neutral);
  font-size: 2rem;
  font-family: "Blocus", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
}
.header__mobile-nav-links {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  height: 50vh;
  margin: 0 auto;
}

.footer {
  font-size: 1.2rem;
  color: var(--secondary-neutral);
  background-color: var(--footer);
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.about {
  font-size: 1.2rem;
  color: var(--primary-neutral--alt);
}
.about h3 {
  margin-bottom: 100px;
}
.about__grid {
  display: grid;
  grid-template-columns: 615px 1fr;
  grid-template-rows: repeat(3, auto);
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
}
.about__img {
  grid-row: 1/span 2;
  grid-column: 2/span 1;
  justify-self: flex-end;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-image: url(../assets/images/headshot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about__bio {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
.about__titles {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}
.about__titles h4 {
  margin-bottom: 10px;
}
.about__titles h5 {
  margin-bottom: 50px;
}
.about__info-container {
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  min-width: 850px;
  margin: 20px 0 120px 0;
}
.about__info {
  width: 100%;
  margin-top: 50px;
}
.about__info h5 {
  margin-bottom: 10px;
}

@media (max-width: 1290px) {
  .about__grid {
    grid-template-columns: auto 1fr;
    max-width: 780px;
  }
  .about h4 {
    font-size: 1.8rem;
  }
  .about h5 {
    font-size: 1.6rem;
  }
  .about__titles {
    max-width: 500px;
  }
  .about__titles h4 {
    margin-bottom: 20px;
  }
  .about__titles h4, .about__titles h5 {
    line-height: 125%;
  }
  .about__bio {
    grid-column: 1/span 2;
    gap: 30px;
  }
  .about__img {
    grid-row: 1/span 1;
    height: 300px;
    width: 300px;
    margin-bottom: 75px;
  }
  .about__info-container {
    min-width: unset;
    width: 100%;
  }
  .about__info {
    width: auto;
  }
  .about__info h5, .about__info .info {
    font-size: 1.4rem;
  }
}
@media (max-width: 875px) {
  .about h4 {
    font-size: 1.4rem;
  }
  .about h5, .about .info {
    font-size: 1.2rem;
  }
  .about__grid {
    max-width: 610px;
  }
  .about__bio {
    font-size: 1rem;
  }
  .about__img {
    height: 250px;
    width: 250px;
    margin-bottom: 60px;
  }
}
@media (max-width: 700px) {
  .about h3 {
    margin-bottom: 50px;
  }
  .about h4 {
    font-size: 1.4rem;
  }
  .about__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 80%;
  }
  .about__titles {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  .about__titles h5 {
    margin-bottom: 30px;
  }
  .about__titles .line-break {
    display: block;
  }
  .about__bio {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    font-size: 0.9rem;
  }
  .about__img {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    justify-self: center;
    height: 300px;
    width: 300px;
    margin-bottom: 65px;
  }
  .about__info-container {
    grid-column: 1/span 1;
    grid-row: 5/span 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
  }
}
@media (max-width: 450px) {
  .about__img {
    height: 80vw;
    width: 80vw;
  }
  .about__info {
    margin-top: 30px;
  }
  .about__info .line-break {
    display: block;
  }
}
@media (max-width: 335px) {
  .about__titles h4 {
    font-size: 1.2rem;
  }
  .about__titles h5 {
    font-size: 1rem;
  }
}
.skills h3 {
  margin: 0 0 100px 0;
}
.skills__skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 65px;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 750px;
  margin: 0 auto;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.skills__skill-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 135px;
  height: 160px;
}
.skills__skill-container i {
  font-size: 5.4rem;
}
.skills__skill-container svg path {
  fill: var(--secondary-neutral);
}

@media (max-width: 1290px) {
  .skills__skill-container {
    max-width: 670px;
    width: 85%;
    row-gap: 60px;
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset;
  }
}
@media (max-width: 850px) {
  .skills__skill-container {
    width: 599px;
    font-size: 1rem;
  }
  .skills__skill-container li {
    width: 120px;
    height: 140px;
  }
  .skills__skill-container i {
    font-size: 4.8rem;
  }
  .skills__skill-container svg {
    width: 120px;
    height: 96px;
  }
}
@media (max-width: 735px) {
  .skills__skill-container {
    width: 535px;
  }
  .skills__skill-container li {
    width: 107.5px;
    height: 120px;
  }
  .skills__skill-container i {
    font-size: 4.3rem;
  }
  .skills__skill-container svg {
    width: 107.5px;
    height: 86px;
  }
}
@media (max-width: 620px) {
  .skills__skill-container {
    width: 358px;
  }
  .skills__skill-container li {
    width: 135px;
    height: 140px;
  }
  .skills__skill-container i {
    font-size: 5.4rem;
  }
  .skills__skill-container svg {
    width: 135px;
    height: 108px;
  }
}
@media (max-width: 500px) {
  .skills h3 {
    margin-bottom: 80px;
  }
  .skills__skill-container {
    width: 294px;
  }
  .skills__skill-container li {
    width: 100px;
    height: 115px;
  }
  .skills__skill-container i {
    font-size: 4rem;
  }
  .skills__skill-container svg {
    width: 100px;
    height: 80px;
  }
}
@media (max-width: 410px) {
  .skills__skill-container {
    width: 245px;
  }
  .skills__skill-container li {
    width: 87.5px;
    height: 110px;
  }
  .skills__skill-container i {
    font-size: 3.5rem;
  }
  .skills__skill-container svg {
    width: 87.5px;
    height: 70px;
  }
}
.projects {
  color: var(--primary-neutral--alt);
}
.projects h3 {
  margin-bottom: 120px;
}
.projects__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83.334%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.projects__project p {
  line-height: 120%;
}
.projects__project--1 .projects__built-with {
  width: 360px;
}
.projects__project--2 .projects__built-with {
  width: 360px;
}
.projects__project--3 .projects__built-with {
  width: 360px;
}
.projects__project--4 .projects__built-with {
  width: 360px;
}
.projects__img-container {
  -ms-flex-preferred-size: 448px;
      flex-basis: 448px;
  height: 334px;
}
.projects__text-container {
  -ms-flex-preferred-size: 642px;
      flex-basis: 642px;
  margin-left: 50px;
}
.projects__built-with {
  position: relative;
  left: -12px;
  margin-bottom: 28px;
  padding: 8px 12px;
  color: var(--secondary-neutral--alt);
  background-color: var(--primary-neutral--alt);
}
.projects__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 475px;
  margin: 25px 0 0 0;
}
.projects .symbol {
  font-size: 7.5rem;
  color: var(--primary-neutral--alt);
}

@media (max-width: 1290px) {
  .projects__project {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin-bottom: 120px;
  }
  .projects__text-container {
    -ms-flex-preferred-size: 420px;
        flex-basis: 420px;
  }
  .projects__btn-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 20px;
    width: auto;
  }
  .projects__btn-container .button {
    width: 150px;
  }
}
@media (max-width: 900px) {
  .projects h5 {
    margin-bottom: 5px;
  }
  .projects__project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
    width: 95%;
    margin-bottom: 100px;
  }
  .projects__img-container {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    width: 100%;
    margin-bottom: 15px;
    height: auto;
  }
  .projects__img-container img {
    width: 100%;
  }
  .projects__text-container {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin: 0;
  }
  .projects__built-with {
    position: static;
    margin-bottom: 15px;
    line-height: 150% !important;
  }
  .projects__btn-container {
    margin-top: 30px;
  }
  .projects__btn-container .button {
    width: 40%;
  }
}
@media (max-width: 425px) {
  .projects h3 {
    margin-bottom: 80px;
  }
  .projects__project {
    margin-bottom: 60px;
  }
  .projects__project--1 .projects__built-with, .projects__project--2 .projects__built-with, .projects__project--3 .projects__built-with, .projects__project--4 .projects__built-with {
    width: 100%;
  }
  .projects__text-container {
    margin-bottom: 25px;
  }
  .projects__text-container p {
    font-size: 0.9rem;
  }
  .projects__built-with {
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  .projects__btn-container .button {
    width: 50%;
  }
}
.contact .wrapper {
  width: 60%;
  max-width: 675px;
}
.contact h3 {
  margin: 0 0 85px 0;
}
.contact p {
  text-align: center;
  margin: 0 0 85px 0;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact__form input,
.contact__form textarea {
  margin-bottom: 40px;
}
.contact__form textarea {
  resize: vertical;
}

@media (max-width: 950px) {
  .contact .wrapper {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .contact {
    padding-bottom: 100px;
  }
  .contact .wrapper {
    width: 85%;
  }
  .contact input,
.contact button[type=submit] {
    height: 50px;
  }
  .contact p {
    font-size: 0.9rem;
  }
}
.form-submit {
  min-height: 100vh;
  background-color: var(--primary-neutral);
  color: var(--secondary-neutral);
  text-align: center;
}
.form-submit .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}
.form-submit__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
}
.form-submit h1 {
  margin-bottom: 35px;
}
.form-submit p {
  margin-bottom: 60px;
  font-weight: 500;
}
.form-submit .button {
  background-color: var(--secondary-neutral);
  color: var(--primary-neutral);
}
.form-submit .button:hover, .form-submit .button:focus {
  background-color: transparent;
  color: var(--secondary-neutral);
  border: 4px solid var(--secondary-neutral);
}